<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Zeljko</title>
    
</head>
<body ng-app="myApp">
  <div class="container" ng-controller="NavigationCtrl" ng-cloak class="ng-cloak">
    <ul style="margin-bottom: 20px;" class="nav nav-pills" role="tablist">
        <li ng-class="tabClass('/')"><a href="#/" ng-click="setSelectedTab('/')">Home</a></li>
        <li ng-class="tabClass('/login')" ng-hide="authenticated"><a href="#/login" ng-click="setSelectedTab('/login')">Login</a></li>
        <li ng-class="tabClass('/registration')" ng-hide="authenticated"><a href="registracija.html" ng-click="setSelectedTab('/registration')">Create account</a></li>
         <li ng-show="authenticated"><a href="" ng-click="downloadJKS()">Download JKS file</a></li>
        <li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>
    </ul>

    <form ng-show="authenticated" method="POST" ng-submit="upload()" enctype="multipart/form-data">
	<p>Upload</p>
	<input class="custom-file-input" id="uploadInput" type="file" name="file" /><br />
	<br /> <input class="btn btn-light" type="submit" value="Submit" />
</form>
    <div ng-view ></div>
  </div>
  <script src="webjars/jquery/2.1.1/jquery.js"></script>
  
  <script src="webjars/angularjs/1.5.8/angular.js"></script>
  <script src="webjars/angular-route/1.5.9/angular-route.js"></script>

  <script src="app.js"></script>
  <script src="dashboard/dashboard.js"></script>
  <script src="login/login.js"></script>
  <script src="services/auth.js"></script>
</body>

</html>